* {
    box-sizing: border-box;
}

body {
    background: #EBE8E2;
    /*
    background-image: url(https://github.com/lea-beaulieu/module1GAME/blob/temporary/gashaponwithDBZwithouybackround.png?raw=true);
    
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: center center;
    background-position: right 10%;
    */
}

.parameters {
    position: fixed;
    width: 200px;
    font-family: 'Gill Sans Nova Cond XBd', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0059d1;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    position: fixed;
    top: 25px;
    left: 600px;
    width: 400px;
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    */
}

.container img.machine-illustration {
    order: 0;
    height: 800px;
    margin-right: 3em;
    transform: translateY(-1em);
    /*
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    align-self: flex-start;
    */
}

.game {
    display: block;
    flex-grow: 0;
    flex-shrink: 2;
    align-self: baseline;
    order: 1;
    width: 490px;
    position: absolute;
}

.redbox {
    width: 100px;
    height: 100px;
    position: absolute;
    background: black;
    /*border: 1px solid white;*/
    background: url("https://github.com/lea-beaulieu/module1GAME/blob/temporary/redbox.png?raw=true") center no-repeat;
    background-size: contain;
    transition: transform .2s;
}

.redbox:hover {
    transform: scale(1.1);
}

.bluebox {
    width: 100px;
    height: 100px;
    position: absolute;
    background: black;
    /*border: 1px solid white;*/
    background: url("https://github.com/lea-beaulieu/module1GAME/blob/temporary/bluebox.png?raw=true") center no-repeat;
    background-size: contain;
    transition: transform .2s;
}

.bluebox:hover {
    transform: scale(1.1);
}

#score {
    font-size: 54px;
    position: relative;
    z-index: 10;
    pointer-events: none;
}

#startbutton {
    position: absolute;
    left: 800px;
    top: 600px;
    z-index: 11;
}

#countdown {
    font-size: 54px;
    font-weight: bolder;
}