@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&display=swap');
* {
    box-sizing: border-box;
}

body,
html {
    background: #EBE8E2;
    margin: 0;
    padding: 0;
    /* Reference scale = body height*/
    height: 100%;
    width: 100%;
    /* Currently used for title interline */
    line-height: 50%;
}

p {
    font-family: 'Bangers';
}


/* HEADER START */

h1 {
    font-family: 'Luckiest Guy', 'Bangers', cursive, 'Gill Sans Nova Cond Ultra Bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: #F2F2F2;
    line-height: 38%;
    font-stretch: ultra-condensed;
    text-transform: uppercase;
    text-shadow: grey 1px 4px;
    transform: rotate(1.5deg);
}

h1 p {
    text-align: center;
    font-stretch: none;
    font-size: 45px;
}

.top-div1 {
    top: 40px;
    position: relative;
    background-image: linear-gradient(to left, #FFC000, #FFDB69);
    height: 20%;
    text-align: center;
    transform: rotate(1.5deg);
    background-repeat: repeat-x;
}

.top-div2 {
    top: 10px;
    position: relative;
    background-image: linear-gradient(to left, #EA4800, #F18549);
    height: 8%;
    transform: rotate(1.5deg);
    background-repeat: repeat-x;
}

.title-box {
    position: absolute;
    top: 65px;
    right: 180px;
}


/* HEADER END */


/* LAYOUT START */

.layout {
    position: absolute;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: 100%;
    width: 30%;
    top: 5%;
    /* START LAYOUT AFTER 20% of TOTAL BDOY */
    left: 25%;
    z-index: 10;
}

.image-start-mini1 {
    position: relative;
    width: 75%;
    transform: rotate(15deg);
    z-index: 11;
    left: 20%;
}

.image-start-mini2 {
    width: 90%;
    transform: rotate(350deg);
    z-index: 12;
    animation: bounce 0.40s ease infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}


/* LAYOUT END */

.introduction {
    position: absolute;
    color: #2527b4;
    font-size: 15px;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    top: 5%;
}

.introduction p {
    font-size: 26px;
    line-height: 100%;
    text-align: right;
}

.square {
    position: sticky;
    background-color: #D9D9D9;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
    font-family: sans-serif;
    width: 48%;
    height: 48%;
    top: 50%;
}

.flex-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* needed to horizontally center content */
    align-self: auto;
    height: 60%;
    width: 35%;
    /* set based on layout (25% +30%) */
    left: 55%;
    top: 5%;
    /* needed to horizontally center content */
}


/* 
body {
    margin: 0;
    font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(/Users/beaulieulea/IRONHACK/game/module1GAME/images/tiledestination.png);
    background: #06365f linear-gradient(180deg, rgba(91, 126, 156, 1) 0%, rgba(60, 98, 133, 1) 38%, rgba(47, 90, 128, 1) 38%, rgba(92, 126, 155, 1) 38%, rgba(244, 245, 247, 1) 38%, rgba(253, 253, 253, 1) 60%, white 100%) top left repeat-x;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-left: 5em;
    padding-right: 4em;
}
*/